mixin css(src)
    link(rel="stylesheet", href=src)
mixin js(src)
    script(src=src)

doctype html5
html
    head
        title #{title}
        meta(name="viewport", content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0")
        //- link(rel="shortcut icon", href="/favicon.png")
        +css("/index.css")
        +js("/jquery.js")
        +js("/index.js")
    body
        //- block content
        form.voice
            input.title(name="title", placeholder="Title")
            textarea.text(name="text" placeholder="Text to speach")
            button.submit(type="submit")= "Say"
        audio.player(autoplay)
